<p id="notice"><%= notice %></p>

<div class="row">
  <% if @articles.present? && !params[:search] %>
    <% @articles.each do |article| %>
      <%= render partial: 'article', locals: {article: article, is_single: false} %>
    <% end %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
<br>
<br>
